body {
  position: relative;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #fffbf6;
  color: #001023;
}

.jumbotron-fluid {
  background-image: url("");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #edd4b2;

}


.floating-nav {
border-radius:100px;
z-index:999;
padding-top:10px;
padding-bottom:10px;
right:0;
position:fixed;
display:inline-block;
top:50%;
-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);
}

.floating-menu {
list-style: none;
}

/* use specific selectors  */

/* change default color of nav item and set shape */
/* first consider
color: red;
width: 25px;
border-bottom: 2px solid red;
*/

a.nav-link {
  display: block;
  border: 2px solid transparent; /* need to keep line straight */
  border-bottom: 2px solid gray;
  width: 25px;

}

/* changes active link color */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  color: black;
  background-color: transparent;
  width: 50px;
  border-bottom: 4px solid gray;
}

h1, h2, h3 {
font-family: "Playfair Dispay", serif;
margin-top: 0; /* removes top gap above section. what about container fluid? Why is that not working? */
padding-top: 30px;
 }

h1 {font-size:64px;
  font-weight: 500;
}
 .main-title {
   font-size: 64px;
 }

 .redtext {
   color: #e03616 !important;
 }

.initial-overlay-text {
  font-family: "Roboto", serif;
  font-size: 42px;
  color: #e03616;
}

#starter-point1 {
  /*when animation ends, count x seconds, then move animation out */
  padding-top: 16rem;

 }

 #starter-point6 {
   font-family: "Playfair Dispay", serif;
   font-size: 72px;
  }



section {

}

.quote-perspective {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-title {
  color: #e03616;
}

#section-1 {

 }

.img-right {
  margin-left: 2rem;
}

.img-left {
  margin-right: 2rem;
}

.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

#monica {
  display: none;
}
#juanitabroaddrick {
  display: none;
}
#kathleenwilley {
  display: none;
}
#paulajones {
display: none;
}
#genniferflowers {
display: none;
}
#kenstarr {
  display: none;
}
#vernonjordan {
  display: none;
}
#newt {
  display: none;
}
#boblivingston {
  display: none;
}
#maxinewaters {
display: none;
}
#lindatripp {
  display: none;
}
#bill {
  display: none;
}



#svg {
  margin: 10px;
}

#logo, #lines, #ByGreenSock, #DrawSVG, #Plugin {
  visibility: hidden;
}
