body {
  position: relative;

  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.floating-nav {
border-radius:100px;
z-index:999;
padding-top:10px;
padding-bottom:10px;
right:0;
position:fixed;
display:inline-block;
top:50%;
-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);
}

.floating-menu {
list-style: none;
}

/* use specific selectors  */

/* change default color of nav item and set shape */
/* first consider
color: red;
width: 25px;
border-bottom: 2px solid red;
*/

a.nav-link {
  display: block;
  border: 2px solid transparent; /* need to keep line straight */
  border-bottom: 2px solid gray;
  width: 25px;

}

/* changes active link color */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  color: black;
  background-color: transparent;
  width: 50px;
  border-bottom: 4px solid gray;
}

h1, h2, h3 {
font-family: "Playfair Dispay", serif;
margin-top: 0; /* removes top gap above section. what about container fluid? Why is that not working? */
padding-top: 30px;

 }

section {
  height: 100vh;
}

.page_style {
  background-color: red;
}

#section-1 {
  background-color: #eddec9;
}

#section-2 {
  background-color: #fff6ea;
}

#section-3 {
  background-color: #fffbf6;
}

#section-4 {
  background-color: #7c606b;
}

#section-5 {
  background-color:#d8cfaf;
}

#section-about {
  background-color:#8c8a93;
}

.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
